@using wBees.Models.ComplexModels
@*@model IEnumerable<JobsTableViewModel>*@
@model JobFullInfoViewModel

@{
    ViewData["Title"] = "FindJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ADVANCED SEARCH -->
<section class="extended-search-container">
    <h1 style="text-align: center;">Advanced Search</h1>
    <form action="#" class="advanced-search-form">
        <section class="search-filters-row">
            <div class="col-lg- col-md-3 col-sm-12 p-1">
                <input type="text" class="form-control search-slt" placeholder="Search in positions">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                <input type="text" class="form-control search-slt" placeholder="Search by keyword">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                <select class="form-control search-slt">
                    <option>Location</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                </select>
            </div>

        </section>
        <section class="search-filters-row">
            <section>
                <article>
                    <h3>Employment Type</h3>
                </article>
                <article>
                    <div class="custom-control custom-checkbox mb-3 ">
                        <input type="checkbox" class="custom-control-input" id="customControlValidation1">
                        <label class="custom-control-label" for="customControlValidation1">Full-time</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3 ">
                        <input type="checkbox" class="custom-control-input" id="customControlValidation2">
                        <label class="custom-control-label" for="customControlValidation2">Part-time</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3 ">
                        <input type="checkbox" class="custom-control-input" id="customControlValidation3">
                        <label class="custom-control-label"
                               for="customControlValidation3">Contractor</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3 ">
                        <input type="checkbox" class="custom-control-input" id="customControlValidation4">
                        <label class="custom-control-label" for="customControlValidation4">Remote</label>
                    </div>

                </article>
            </section>
            <section>
                <article>
                    <h3>Seniority Level</h3>
                </article>
                <article>
                    <div class="custom-control custom-checkbox mb-3 ">
                        <input type="checkbox" class="custom-control-input" id="Intern">
                        <label class="custom-control-label" for="Intern">Intern</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3 ">
                        <input type="checkbox" class="custom-control-input" id="Junior">
                        <label class="custom-control-label" for="Junior">Junior</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3 ">
                        <input type="checkbox" class="custom-control-input" id="Middle">
                        <label class="custom-control-label" for="Middle">Middle</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3 ">
                        <input type="checkbox" class="custom-control-input" id="Senior">
                        <label class="custom-control-label" for="Senior">Senior</label>
                    </div>
                </article>
            </section>
        </section>
        <section class="search-filters-row">
            <section>
                <article>
                    <h3>Industry</h3>
                </article>

                <article>

                    <div id="accordion">
                        @foreach (var industry in Model.Industries)
                        {
                            <div class="card">
                                <div class="card-header" id=@Model.Industries.IndexOf(industry)>
                                    <h5 class="mb-0">
                                        <a class="btn btn-link" data-toggle="collapse"
                                           data-target="#collapseOne" aria-expanded="true"
                                           aria-controls="collapseOne">
                                            @industry.Name
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby=@Model.Industries.IndexOf(industry)>
                                    <div class="card-body accordion-fit">
                                        @for (int j = 0; j < @industry.SubIndustries.Count(); j++)
                                        {
                                            <div class="custom-control custom-checkbox mb-3 ">
                                                <input type="checkbox" name="@industry.Name" class="custom-control-input" id=@industry.SubIndustries[j].Id value=@industry.SubIndustries[j].Id>
                                                <label class="custom-control-label" for=@industry.SubIndustries[j].Id>@industry.SubIndustries[j].Name</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </article>
            </section>
        </section>
        <section class="search-filters-row">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <button type="submit" class="search-button"><i class="fa fa-search"></i>Search</button>
            </div>
        </section>

    </form>
</section>

@*@await Html.PartialAsync("_JobsTablePartial", Model.Job)*@


