@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    font-family: "Roboto", sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 15%;
    color: #3b484a;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #333e40;
    box-shadow: 0px 0 38px -26px rgba(0, 0, 0, 0.75);
}

.navbar {
    display: flex;
    width: 100%;
}

    .navbar nav {
        display: flex;
        justify-content: space-between;
    }

header nav ul {
    display: flex;
    margin: 0px;
    align-items: center;
}

.nav-list-item {
    list-style: none;
    margin: 0 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
}

    .nav-list-item:hover {
        background-color: #ffce1c;
    }

    .nav-list-item a {
        color: #333e40;
        text-decoration: none;
        font-weight: bold;
    }

.logo {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

    .logo a {
        display: flex;
    }

        .logo a > img {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

    .logo a {
        text-decoration: none;
        color: #333e40;
    }

        .logo a > h1 {
            font-size: 2rem;
            text-decoration: none;
            align-self: center;
            margin: 0;
        }

.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    /* background-image: url("./images/honey-comb-pattern.jpg"); */
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8)), url("../Images/honey-comb-pattern.jpg");
    background-size: cover;
    padding: 20px;
    display: flex;
    align-items: center;
}

    .search h2 {
        font-style: italic;
        color: #ff9100;
        font-weight: bolder;
    }

        .search h2 > a {
            box-sizing: content-box;
            text-decoration: none;
            color: #333e40;
            padding: 10px;
            background-color: #ff9100;
            border-radius: 10px;
            font-weight: 500;
            margin-left: 20px;
            font-size: 20px;
            font-style: normal;
            opacity: 0.9;
        }

    .search a:hover {
        color: white;
    }

.search-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: #ffce1c;
    opacity: 0.8;
    margin: 0px auto;
    padding: 5px;
}

.search-button {
    background: #ff9100;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 3px 19px;
    margin-left: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

    .search-button i {
        margin-right: 10px;
    }

    .search-button:hover {
        color: white;
    }

.search-form {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 4px auto;
    text-align: center;
}

.extended-search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
    padding: 10px;
}

.search-filters-row {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
}

.mb-0 button {
    font-weight: 700;
    color: #3b484a;
}

    .mb-0 button:hover {
        text-decoration: none;
        color: #ff9100;
    }

.card-body {
    display: flex;
    justify-content: space-around;
}

.background-img {
    max-width: 1rem;
    height: 10%;
}

    .background-img img {
        height: 400px;
        opacity: 0.1;
        position: relative;
        left: -70px;
        bottom: -70px;
    }

.user-forms {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 20px auto;
    padding: 15px 5%;
}

.user-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 40%;
    border-radius: 10px;
    box-shadow: 0px 0 38px -26px rgba(0, 0, 0, 0.75);
    margin: 0px 30px;
    padding: 10px;
}

    .user-form img {
        max-width: 40%;
        background-color: white;
        padding: 10%;
    }

    .user-form button {
        border-radius: 10px;
        font-size: 20px;
        text-transform: uppercase;
        padding: 5px 60px;
        margin: 20px 0px;
        border: none;
        font-weight: bold;
    }

.flower-btn {
    background-color: #ffce1c;
}

    .flower-btn:hover {
        background-color: #ffe999;
    }

.flower-form {
    border-top: 5px solid #ffce1c;
}

.bee-form {
    border-top: 5px solid #ff9100;
}

.bee-btn {
    background-color: #ff9100;
}

    .bee-btn:hover {
        background-color: #ffd399;
    }

.about {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 5%;
    margin: 10px auto;
}

    .about article {
        margin: 20px 40px;
    }

        .about article img {
            max-width: 100px;
            align-self: center;
        }

.job-postings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto;
    padding: 10px;
}

    .job-postings table {
        margin: 20px 0px;
    }

        .job-postings table > tbody > tr {
            vertical-align: auto;
        }

            .job-postings table > tbody > tr:hover {
                background-color: #ffe999;
            }
/*
    .job-postings button {
        width: 30%;
    }*/

.job-info {
    background: #ffce1c;
    font-size: 12px;
    width: fit-content;
    border: none;
    cursor: pointer;
    padding: 3px 19px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}


.job-info:hover {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #333e40;
    color: lightgray;
    min-height: 50px;
    padding: 20px;
}

    footer p {
        margin-top: 10;
        text-align: center;
    }

        footer p > a {
            color: #ffce1c;
        }

            footer p > a:hover {
                color: #ffce1c;
                text-decoration: none;
            }

/* Login Form  */
.login {
    background-color: #fffbe6;
    padding: 30px;
    max-width: 400px;
}

    .login p > a {
        color: #faa330;
        font-weight: 700;
        text-decoration: none;
    }

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    width: fit-content;
}

.login img {
    border: 3px solid #faa330;
    border-radius: 50%;
    padding: 5%;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.login-input {
    min-width: 270px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #bcbcbc;
    outline: none;
    margin: 10px auto;
    text-align: center;
}

/* Register form */
.register-form {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    flex-basis: 90%;
    padding: 30px;
    justify-content: space-between;
}

.register-part {
    flex-basis: 30%;
    margin-right: 50px;
    padding: 10px;
}

    .register-part button {
        margin: 20px 0px;
        width: 50%;
        align-self: flex-end;
        padding: 10px;
        box-sizing: content-box;
    }

.register-info-part {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    text-align: right;
    margin-left: 30px;
    padding: 10px;
    border-left: 1px solid lightgrey;
    background: linear-gradient( to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9) ), #fcc783;
}

.custom-checkbox {
    align-self: flex-end;
}

.register-info-part p > a {
    color: #faa330;
    font-weight: 700;
    text-decoration: none;
}
