
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - wBees</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @*<header>
        <section class="navbar">
            <article class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/cell.png" alt="Working Bees Logo">
                    <h1>Working Bees</h1>
                </a>
            </article>
            <nav>
                <ul>
                    <li class="nav-list-item"><a asp-area="" asp-controller="" asp-action="">About us</a></li>
                    <li class="nav-list-item"><a asp-area="" asp-controller="" asp-action="">Find a job</a></li>
                    <li class="nav-list-item"><a asp-area="" asp-controller="" asp-action="">Find an employee</a></li>
                    <li class="nav-list-item"><a asp-area="Identity" asp-page="/Account/Login">LogIn</a></li>
                    <li class="nav-list-item"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                    <li class="nav-list-item"><a asp-area="" asp-controller="" asp-action="">FAQ</a></li>
                </ul>

            </nav>
        </section>

    </header>*@
  
        <main>
            @RenderBody()
        </main>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

