@{
    ViewData["Title"] = "Home";
}

<!-- About us -->
<section class="about">
    <article>
        <h1>
            Lorem ipsum dolor sit
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quibusdam doloribus numquam
            excepturi voluptatum nulla maxime culpa iure, perferendis, aliquam at expedita iste consectetur
            quam cum quisquam vel? Modi, culpa.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consequatur officia eius facere
            deserunt reiciendis quis aperiam quam impedit tenetur. Placeat, quod reiciendis! Praesentium ab
            sapiente, quis distinctio voluptatem eveniet.
        </p>
    </article>
    <article>
        <img src="./images/honeycomb.png" alt="Postbank">
    </article>
</section>

<!-- Search form -->
<section class="search">
    <h2>Find a job now! <a href="#">Advanced Search</a></h2>
    <section class="search-container">
        <form action="#" class="search-form">
            <div class="col-lg- col-md-3 col-sm-12 p-1">
                <input type="text" class="form-control search-slt" placeholder="Search in positions">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                <input type="text" class="form-control search-slt" placeholder="Search by keyword">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                <select class="form-control search-slt">
                    <option>Location</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                    <option>Example one</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <button type="submit" class="search-button"><i class="fa fa-search"></i>Quick Search</button>
            </div>
        </form>
    </section>
</section>

<!-- Plain text -->
<section class="about">
    <article>
        <h1>
            Plain text paragraph
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa quibusdam doloribus numquam
            excepturi voluptatum nulla maxime culpa iure, perferendis, aliquam at expedita iste consectetur
            quam cum quisquam vel? Modi, culpa.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit consequatur officia eius facere
            deserunt reiciendis quis aperiam quam impedit tenetur. Placeat, quod reiciendis! Praesentium ab
            sapiente, quis distinctio voluptatem eveniet.
        </p>
    </article>
</section>

<!-- User forms -->
<section class="user-forms">
    <article class="user-form bee-form">
        <h1>I am a bee <br /> (employee!)</h1>
        <img src="./images/bee.png" alt="Bee">
        <p>Already <b>101</b> bees have registered.</p>
        <p>Тake your way to the hive!</p>
        <button class="bee-btn">
            Register
        </button>
    </article>
    <article class="user-form flower-form">
        <h1>I am a flower <br /> (employer)!</h1>
        <img src="./images/sunflower.png" alt="Flower">
        <p>Already <b>58</b> flowers have registered.</p>
        <p>Тake your way to the field!</p>
        <button class="flower-btn">
            Register
        </button>
</section>
<br />
<!-- Recently added job postings -->
<section class="job-postings">
    <h1>Recently added job postings</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Posted on</th>
                <th scope="col">Position</th>
                <th scope="col">Employer</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">09/11/2020</th>
                <td>.NET Developer</td>
                <td>SoftUni</td>
                <td>Remote</td>
            </tr>
            <tr>
                <th scope="row">09/11/2020</th>
                <td>Senior Java Software Engineer</td>
                <td>Soft Solutions</td>
                <td>Full-Time</td>
            </tr>
            <tr>
                <th scope="row">09/11/2020</th>
                <td>Back-end Engineer</td>
                <td>Uni Dev</td>
                <td>Remote</td>
            </tr>
        </tbody>
    </table>

    <button class="search-button">See all</button>
</section>

<!-- Background image -->
<!--<article class="background-img">
    <img src="./images/honey.png" alt="">
</article>-->