@using wBees.Models.Jobs
@model IEnumerable<EditJobViewModel>

@{
    ViewData["Title"] = "Home";
}
<style>
    .nav-list-item{
        color: black;
    }
        .nav-list-item:hover {
            text-decoration: none;
            color: black;
        }
</style>
<!-- About us -->
<section class="about">
    <article>
        <h1>
            Welcome to the hive!
        </h1>
        <p>
            Find essential jobs that are in high demand right now.
        </p>
        <p>
            Fill out applications in a sec.
            No more completing the same questions over and over again. Apply to the jobs you want with just the press of a button.
        </p>

    </article>
    <article>
        <img src="./images/honeycomb.png" alt="Postbank">
    </article>
</section>

<!-- Search form -->
<section class="search">
    <h2>Find a job now! <a asp-area="" asp-controller="Search" asp-action="FindJobs">Advanced Search</a></h2>
    <section class="search-container">
        <form asp-controller="Search" asp-action="ListJobsFromFastSearch" method="get" class="search-form">
            <div class="col-lg- col-md-3 col-sm-12 p-1">
                <input type="text" name="Position" class="form-control search-slt" placeholder="Search in positions">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                <input type="text" class="form-control search-slt" name="Keywords" placeholder="Search by keyword">
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 p-1">
                <input type="text" class="form-control search-slt" name="Location" placeholder="Search by location">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <button type="submit" class="search-button"><i class="fa fa-search"></i>Quick Search</button>
            </div>
        </form>
    </section>
</section>

<!-- Plain text -->
<section class="about">
    <article>
        <h1>
            Know what’s up with your application.
        </h1>
        <p>
            Log in and see where your application is in the process. Has the hiring manager looked at it? Are you on the short list? Keep track with your profile.
        </p>
        <h1>
            Search for your next candidate.
        </h1>
        <p>
            Ready to contact a candidate? Purchase a subscription today!
            Create an Indeed account or login to get started.
        </p>
    </article>
</section>

<!-- User forms -->
<section class="user-forms">
    <article class="user-form bee-form">
        <h1>I am a bee <br /> (employee!)</h1>
        <img src="./images/bee.png" alt="Bee">
        <p>Already <b>101</b> bees have registered.</p>
        <p>Тake your way to the hive!</p>
        <a class="nav-list-item bee-btn" asp-area="Identity" asp-page="/Account/Register">
            Register
        </a>
    </article>
    <article class="user-form flower-form">
        <h1>I am a flower <br /> (employer)!</h1>
        <img src="./images/sunflower.png" alt="Flower">
        <p>Already <b>58</b> flowers have registered.</p>
        <p>Тake your way to the field!</p>
        <a class="nav-list-item flower-btn" asp-area="Identity" asp-page="/Account/Register">
            Register
        </a>
    </article>
</section>
<br />

<!-- Recently added job postings -->
<h1 style="text-align:center">Recently added job postings</h1>
@await Html.PartialAsync("_JobsTablePartial", Model)

<!-- Background image -->
<!--<article class="background-img">
    <img src="./images/honey.png" alt="">
</article>-->
