@using wBees.Models.Administration
@model AdminPanelViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
/*    a {
        text-decoration: none;
    }

        a:hover {
            text-decoration: none;
        }*/

</style>

<br />
<br />
<div class="row justify-content-center">
    <div class="card admin-card" style="width: 18rem;">
        <div class="i">
            <i class="fas fa-clipboard-list"></i>
        </div>
        <div class="card-body vertical">
            <h5 class="card-title">Jobs</h5>
            <p class="card-text">@Model.JobsCount listed jobs.</p>
            <a asp-action="JobsList" class="btn btn-primary">View all</a>
        </div>
    </div>

    <div class="card admin-card" style="width: 18rem;">
        <div class="i">
            <i class="fas fa-users-cog"></i>
        </div>
        <div class="card-body vertical">
            <h5 class="card-title">Users</h5>
            <p class="card-text">@Model.UsersCount registered users.</p>
            <a asp-action="UsersList" class="btn btn-primary">View all</a>
        </div>
    </div>

    <div class="card admin-card" style="width: 18rem;">
        <div class="i">

            <i class="fas fa-map-marked-alt"></i>
        </div>
        <div class="card-body vertical">
            <h5 class="card-title">Locations</h5>
            <p class="card-text">@Model.LocationsCount locations.</p>
            <a href="#" class="btn btn-primary">View all</a>
        </div>
    </div>

    <div class="card admin-card" style="width: 18rem;">
        <div class="i">
            <i class="fas fa-industry"></i>
        </div>
        <div class="card-body vertical">
            <h5 class="card-title">Industries</h5>
            <p class="card-text">@Model.IndustriesCount active industries.</p>
            <a href="#" class="btn btn-primary">View all</a>
        </div>
    </div>
</div>

